
<div id="page">
    <div id="menu-left">
      <div class="sidenav">
        <a href="services.html#vestuvems">Vestuvėms</a>
        <a href="services.html#gimtadieniui">Gimtadieniui</a>
        <a href="services.html#krikstynoms">Krikštynoms</a>
      </div>
    </div>

    <div id="content">

      <h2 id="vestuvems">DESERTŲ STALIUKAS - MES ESAME DĖL JŪSŲ</h2>
      <div class="nice_div">
        <p>"Desertų staliukas" – tai šeimos idėja tapusi verslu, kurį sukūriau kartu su savo vyru.
          Mūsų dekoro studijoje kiekvienas klientas yra ypatingas, todėl į visus užsakymus
          įdedame savo širdį bei žinias. Kitaip tariant, esu laiminga tik tada, kai viskas
          keliauja harmoningos tobulybės link, nes kokybę ir estetiką – mėgstu labiausiai.
          <br><br>

          Esu profesionalė savo srityje, sukaupusi daug vertingos patirties, tačiau turiu savo
          asmeninę viziją apie tai, kas yra geriausia. Mano tikslas – užtikrinti meistriškumą,
          dalintis estetika ir subtiliu skoniu. Todėl kiekvienam, net ir išrankiausiam norui,
          visada turiu ką pasiūlyti.
          <br><br>

          „Desertų staliukas“ niekada nenuvils ir neleis suabejoti plačiu dekoro pasirinkimu,
          mūsų bendravimu, nepriekaištingu aptarnavimu, indų kokybe, bei punktualumu.
          Kiekvienas gali jaustis ramus patikėdamas mums savo šventes bei norus. Mes pasirūpiname
          ne tik šventinės idėjos įgyvendinimu, bet taip pat ir patarimais organizuojant renginius
          – nuo vestuvių iki vaikų gimtadienių.
          <br><br>

          Tiek darbe tiek asmeniniame gyvenime vadovaujuosi požiūriu jog vienas darbas tvirtesnis
          už tūkstantį žodžių, todėl drąsiai priimu bet kokius iššūkius ir esu pasiryžusi juos
          įgyvendinti. Susisiekite su mumis ir sukurkime <span>DESERTŲ STALIUKĄ</span> kartu!
        </p>
      </div>
      <hr class="light">
      <br>

      <div class="imgBlock nice_div">
        <img src="assets/dtable.jpg" alt="Vestuvių desertų stalas"  title="Vestuvių desertų stalas" class="tableAbout ">
        <img src="assets/dessertTable20.jpg" alt="Vestuvių desertų stalas"  title="Vestuvių desertų stalas" class="tableAbout ">

        <img src="assets/013.jpg" alt="Vestuvių desertų stalas"  title="Vestuvių desertų stalas" class="tableAbout ">
        <img src="assets/OutdoorTable.jpg" alt="Vestuvių desertų stalas"  title="Vestuvių desertų stalas" class="tableAbout ">

        <img src="assets/011.jpg" alt="Vestuvių desertų stalas"  title="Vestuvių desertų stalas" class="tableAbout ">
        <img src="assets/TableCr.jpg" alt="Vestuvių desertų stalas"  title="Vestuvių desertų stalas" class="tableAbout ">
        <img src="assets/TableW.jpg" alt="Vestuvių desertų stalas"  title="Vestuvių desertų stalas" class="tableAbout ">
        <img src="assets/dessertT.jpg" alt="Vestuvių desertų stalas"  title="Vestuvių desertų stalas" class="tableAbout ">
      </div>
      <br>

      <footer>
        2020 &copy; Akvile Kvietkauskaite
      </footer>
    </div>