
    
    
<div id="page">
    <div id="menu-left">
      <div class="sidenav">
        <a href="services.html#vestuvems">Vestuvėms</a>
        <a href="services.html#gimtadieniui">Gimtadieniui</a>
        <a href="services.html#krikstynoms">Krikštynoms</a>
      </div>
    </div>

    <div id="content">
      <h2 id="vestuvems">DESERTŲ STALIUKAS JŪSŲ YPATINGAI ŠVENTEI</h2>
      <img src="assets/weddingTable1.jpeg" alt="Vestuvių desertų stalas" title="Vestuvių desertų stalas" class="table right">
     
      <div class="nice_div">
        <h3>Pasakiškoms vestuvėms</h3>
        <p>Saldusis vestuvinis stalas tapo neatsiejama vestuvių dalimi. Įspūdingo
          grožio vestuvinis tortas, elegantiški desertai indeliuose, unikalios
          dekoracijos vilioja svečius visos šventės metu. Saldaus stalo dekoracijos
          turėtų derėti prie bendro Jūsų vestuvių šventės dekoro. Šventės stilių
          galima perteikti pasitelkus tam tikrus indus, desertų stovus, gėlių ar
          žalumynų kompozicijas. Taip pat dažnai desertų stalai dekoruojami įvairiomis
          uogomis, vaisiais – jie suteikia saldumynams gaivumo ir padaro saldųjį stalą
          dar patrauklesnį. Visą rūpestį palikite mums, mūsų profesionalų komanda
          išpildys visas Jūsų užgaidas.
        </p>
      </div>

      <hr class="light">
      <br>

      <img src="assets/b-dayTable1.jpg" alt="Gimtadienio desertų stalas" title="Gimtadienio desertų stalas" class="table">
      <div class="nice_div">
        <h3>Nuostabiam gimtadieniui</h3>
        <p>Gimtadieniai – viena gražiausių metų švenčių. Jau keli mėnesiai
          prieš užsikrečiame tuo nuoširdžiu vaikišku laukimu, metų skaičiavimu, visi
          įsitraukiame į šventės organizavimą ir pasiruošimą jai. Turime tradicijų, kurias
          jau keli metai nuosekliai vykdome, juk jų puoselėjimas – vienas vertingiausių
          šeimos momentų. Dekoras, tai vienas dalykų, kuris net pačią mažiausią šventę
          paverčia ypatinga. Visai nebūtina jubiliatui surengti daug atrakcijų, bet
          tiesiog būtina jį pamaloninti, kad ir mažais mielais šventiškais akcentais.
        </p>

      </div>
      <hr class="light">
      <br>

      <img src="assets/babyShowerTable.jpg" alt="Krikštynų desertų stalas" title="Krikštynų desertų stalas" class="table right">
      <div class="nice_div">
        <h3>Neužmirštamoms krikštynoms</h3>
        <p>Renkantis šventės dekoracijas krikštynoms, galima akcentuoti kokią nors spalvą.
          Galima išsiųsti svečiams pasirinktos spalvos kvietimus, patiems pasipuošti tos pačios
          spalvos drabužiais ar pagyvinti aprangą šios spalvos detalėmis, taip pat ir svečių
          galima paprašyti ateiti pasipuošus tam tikros spalvos drabužiais. O atvykę į šventės
          vietą, jie rastų ta pačia spalva dekoruotą aplinką bei papuoštą šventinį stalą.
        </p>
      </div>
      <br>
      <footer>
        2020 &copy; Akvile Kvietkauskaite
      </footer>
    </div>