  <div id="page">



    <div id="menu-left">
      <div class="sidenav">
        <a href="services.html#vestuvems">Vestuvėms</a>
        <a href="services.html#gimtadieniui">Gimtadieniui</a>
        <a href="services.html#krikstynoms">Krikštynoms</a>
      </div>
    </div>

  </div>

  <div id="content">
    <h2>KAINORAŠTIS</h2>

    <div class="nice_div">
      <table border="1" cellpadding="3">
        <!-- <caption></caption> -->

        <tr>
          <th class="align" rowspan="2">Pasiūlymas</th>
          <th class="grey" colspan="5">Valandos</th>
        </tr>

        <tr class="grey">
          <td>I</td>
          <td>II</td>
          <td>III</td>
          <td>IV</td>
          <td>kita</td>
        </tr>

        <tr>
          <td class="grey">Vestuvėms #1 arba #3</td>
          <td>100 Eur</td>
          <td>190 Eur</td>
          <td>270 Eur</td>
          <td>350 Eur</td>
          <td>teirautis</td>
        </tr>

        <tr>
          <td class="grey">Vestuvėms #2</td>
          <td>80 Eur</td>
          <td>160 Eur</td>
          <td>250 Eur</td>
          <td>330 Eur</td>
          <td>teirautis</td>
        </tr>

        <tr>
          <td class="grey">Vestuvėms #4</td>
          <td>90 Eur</td>
          <td>175 Eur</td>
          <td>260 Eur</td>
          <td>345 Eur</td>
          <td>teirautis</td>
        </tr>

        <tr>
          <td class="grey">Gimtadieniui #1 arba #2</td>
          <td>80 Eur</td>
          <td>160 Eur</td>
          <td>230 Eur</td>
          <td>310 Eur</td>
          <td>teirautis</td>
        </tr>

        <tr>
          <td class="grey">Gimtadieniui #3</td>
          <td>75 Eur</td>
          <td>150 Eur</td>
          <td>220 Eur</td>
          <td>300 Eur</td>
          <td>teirautis</td>
        </tr>

        <tr>
          <td class="grey">Gimtadieniui #4</td>
          <td>75 Eur</td>
          <td>145 Eur</td>
          <td>215 Eur</td>
          <td>330 Eur</td>
          <td>teirautis</td>
        </tr>

        <tr>
          <td class="grey">Krikštynoms #1 arba #2</td>
          <td>70 Eur</td>
          <td>135 Eur</td>
          <td>210 Eur</td>
          <td>335 Eur</td>
          <td>teirautis</td>
        </tr>

        <tr>
          <td class="grey">Krikštynoms #3</td>
          <td>70 Eur</td>
          <td>135 Eur</td>
          <td>205 Eur</td>
          <td>275 Eur</td>
          <td>teirautis</td>
        </tr>

        <tr>
          <td class="grey">Krikštynoms #4</td>
          <td>80 Eur</td>
          <td>159 Eur</td>
          <td>230 Eur</td>
          <td>310 Eur</td>
          <td>teirautis</td>
        </tr>

      </table>

    </div>

  </div>
  </div>
  <footer>
    2020 &copy; Akvile Kvietkauskaite
  </footer>