  <div id="page">


      <div id="menu-left">
      <div class="sidenav">
        <a href="#vestuvems">Vestuvėms</a>
        <a href="#gimtadieniui">Gimtadieniui</a>
        <a href="#krikstynoms">Krikštynoms</a>
      </div>
    </div>

    <div id="content">
      <h2 id="vestuvems">VESTUVĖMS</h2>
      <img src="assets/weddingTable.jpg" alt="Vestuvių desertų stalas" title="Vestuvių desertų stalas" class="table ">
      <div class="nice_div">
        <h3>#1 Luxury</h3>
        <p>Į paslaugą įeina:</p>
        <ul>
          <li>Pailgas staliukas (du arba vienas)</li>
          <li>Staltiesės</li>
          <li>Porcelianiniai indai</li>
          <li>Stiklinės taurės šampanui</li>
          <li>Stiklinės gaiviesiems gėrimams</li>
          <li>Girliandos ir kitos matomos dekoracijos</li>
          <li>Gyvos gėlės</li>
          <li>Profesionalaus padavėjo paslaugos</li>
          <li>Žmonių skaičius: 50 - 100</li>
        </ul>
      </div>

      <hr class="light">
      <br>

      <img src="assets/weddingTable1.jpeg" alt="Vestuvių desertų stalas" title="Vestuvių desertų stalas" class="table left">
      <div class="nice_div">
        <h3>#2 Simple</h3>
        <p>Į paslaugą įeina:</p>
        <ul>
          <li>Pailgas staliukas (vienas)</li>
          <li>Staltiesė</li>
          <li>Mediniai indai</li>
          <li>Stiklinės taurės šampanui</li>
          <li>Matomos dekoracijos</li>
          <li>Gyvos gėlės</li>
          <li>Profesionalaus padavėjo paslaugos</li>
          <li>Žmonių skaičius: iki 30</li>
        </ul>
      </div>
      <hr class="light">
      <br>

      <img src="assets/weddingTable2.jpg" alt="Vestuvių desertų stalas" title="Vestuvių desertų stalas" class="table ">
      <div class="nice_div">
        <h3>#3 Medium</h3>
        <p>Į paslaugą įeina:</p>
        <ul>
          <li>Pailgas staliukas (vienas)</li>
          <li>Keramikiniai indai</li>
          <li>Stiklinės taurės šampanui</li>
          <li>Stiklinės gaiviesiems gėrimams</li>
          <li>Girlianda ir matomos dekoracijos</li>
          <li>Gyvos gėlės</li>
          <li>Profesionalaus padavėjo paslaugos</li>
          <li>Žmonių skaičius: iki 50</li>
        </ul>
      </div>
      <hr class="light">
      <br>

      <img src="assets/weddingTable4.jpg" alt="Vestuvių desertų stalas" title="Vestuvių desertų stalas" class="table left">
      <div class="nice_div">
        <h3>#4 Fancy</h3>
        <p>Į paslaugą įeina:</p>
        <ul>
          <li>Pailgas staliukas (vienas)</li>
          <li>Staltiesė</li>
          <li>Stiklinis stalviršis</li>
          <li>Porceliano indai</li>
          <li>Stiklinės taurės šampanui</li>
          <li>Prabangios dekoracijos</li>
          <li>Gyvos gėlės</li>
          <li>Profesionalaus padavėjo paslaugos</li>
          <li>Žmonių skaičius: 50 - 100</li>
        </ul>
      </div>
      <br>
      <hr class="double">
      <h2 id="gimtadieniui">GIMTADIENIUI</h2>
      <img src="assets/b-dayTable.jpg" alt="Gimtadienio desertų stalas" title="Gimtadienio desertų stalas" class="table ">
      <div class="nice_div">
        <h3>#1 Village</h3>
        <p>Į paslaugą įeina:</p>
        <ul>
          <li>Pailgas staliukas (vienas)</li>
          <li>Keramikiniai indai</li>
          <li>Stiklinės gaiviesiems gėrimams</li>
          <li>Matomos dekoracijos</li>
          <li>Gyvos gėlės</li>
          <li>Profesionalaus padavėjo paslaugos</li>
          <li>Žmonių skaičius: iki 50</li>
        </ul>
      </div>
      <hr class="light">
      <br>

      <img src="assets/b-dayTable1.jpg" alt="Gimtadienio desertų stalas" title="Gimtadienio desertų stalas" class="table left">
      <div class="nice_div">
        <h3>#2 Unicorn</h3>
        <p>Į paslaugą įeina:</p>
        <ul>
          <li>Prabangus staliukas (vienas)</li>
          <li>Stiklo ir keramikos indai</li>
          <li>Stiklinės gaiviesiems gėrimams</li>
          <li>Balionai</li>
          <li>Gyvos gėlės</li>
          <li>Profesionalaus padavėjo paslaugos</li>
          <li>Žmonių skaičius: iki 50</li>
        </ul>
      </div>
      <hr class="light">
      <br>

      <img src="assets/b-dayTable3.png" alt="Gimtadienio desertų stalas" title="Gimtadienio desertų stalas" class="table">
      <div class="nice_div">
        <h3>#3 Candy</h3>
        <p>Į paslaugą įeina:</p>
        <ul>
          <li>Pailgas staliukas (vienas)</li>
          <li>Stiklo ir keramikos indai</li>
          <li>Stiklinės gaiviesiems gėrimams</li>
          <li>Dekoracijos</li>
          <li>Profesionalaus padavėjo paslaugos</li>
          <li>Žmonių skaičius: iki 30</li>
        </ul>
      </div>
      <hr class="light">
      <br>
      <img src="assets/b-dayTable4.jpg" alt="Gimtadienio desertų stalas" title="Gimtadienio desertų stalas" class="table left">
      <div class="nice_div">
        <h3>#4 Princess</h3>
        <p>Į paslaugą įeina:</p>
        <ul>
          <li>Pailgas staliukas (vienas)</li>
          <li>Stiklo ir keramikos indai</li>
          <li>Stiklinės gaiviesiems gėrimams</li>
          <li>Dekoracijos</li>
          <li>Rožinė užuolaida</li>
          <li>Gėlės</li>
          <li>Profesionalaus padavėjo paslaugos</li>
          <li>Žmonių skaičius: iki 70</li>
        </ul>
      </div>
      <br>
      <hr class="double">
      <h2 id="krikstynoms">KRIKŠTYNOMS</h2>
      <img src="assets/babyShowerTable.jpg" alt="Krikštynų desertų stalas" title="Krikštynų desertų stalas" class="table ">
      <div class="nice_div">
        <h3>#1 Boy Classic </h3>
        <p>Į paslaugą įeina:</p>
        <ul>
          <li>Pailgas staliukas (vienas)</li>
          <li>Stiklo ir keramikos indai</li>
          <li>Stiklinės taurės šampanui</li>
          <li>Stiklinės gaiviesiems gėrimams</li>
          <li>Matomos dekoracijos</li>
          <li>Gyvos gėlės</li>
          <li>Profesionalaus padavėjo paslaugos</li>
          <li>Žmonių skaičius: iki 50</li>
        </ul>
      </div>
      <hr class="light">
      <br>

      <img src="assets/babyShowerTable1.jpg" alt="Krikštynų desertų stalas" title="Krikštynų desertų stalas" class="table left">
      <div class="nice_div">
        <h3>#2 Girl Classic</h3>
        <p>Į paslaugą įeina:</p>
        <ul>
          <li>Pailgas staliukas (vienas)</li>
          <li>Staltiesė</li>
          <li>Stiklo ir keramikos indai</li>
          <li>Stiklinės taurės šampanui</li>
          <li>Stiklinės gaiviesiems gėrimams</li>
          <li>Dekoracijos</li>
          <li>Gyvos gėlės</li>
          <li>Profesionalaus padavėjo paslaugos</li>
          <li>Žmonių skaičius: iki 50</li>
        </ul>
      </div>
      <hr class="light">
      <br>

      <img src="assets/babyShowerTable2.png" alt="Krikštynų desertų stalas" title="Krikštynų desertų stalas" class="table ">
      <div class="nice_div">
        <h3>#3 Yellow Day</h3>
        <p>Į paslaugą įeina:</p>
        <ul>
          <li>Pailgas staliukas (vienas)</li>
          <li>Staltiesė</li>
          <li>Stiklo ir keramikos indai</li>
          <li>Stiklinės gaiviesiems gėrimams</li>
          <li>Dekoracijos</li>
          <li>Profesionalaus padavėjo paslaugos</li>
          <li>Žmonių skaičius: iki 30</li>
        </ul>
      </div>
      <hr class="light">
      <br>

      <img src="assets/babyShowerTable3.jpg" alt="Krikštynų desertų stalas" title="Krikštynų desertų stalas" class="table left">
      <div class="nice_div">
        <h3>#4 Modern </h3>
        <p>Į paslaugą įeina:</p>
        <ul>
          <li>Pailgas staliukas (vienas)</li>
          <li>Staltiesė</li>
          <li>Mediniai indai</li>
          <li>Stiklinės gaiviesiems gėrimams</li>
          <li>Dekoracijos</li>
          <li>Gyvos gėlės</li>
          <li>Profesionalaus padavėjo paslaugos</li>
          <li>Žmonių skaičius: iki 60</li>
        </ul>
      </div>
      <br>

    </div>

    <footer>
      2020 &copy; Akvile Kvietkauskaite
    </footer>
  </div>